<div class="container-fluid d-flex flex-wrap justify-content-evenly p-4">
	<div class="row w-100 p-4">
		<div class="card p-0 friend-list">
			<div class="card-header card-header-custom text-white">
				About Us
			</div>
			<div class="card-body d-flex flex-wrap justify-content-start">
				<p>Welcome to Friends in Fitness, your ultimate destination for finding your perfect gym partner!</p>
				<p>We understand that staying motivated and committed to a fitness routine can sometimes be challenging,
					especiallyzwhen going it alone. That's why we've created Friends in Fitness, a revolutionary app
					designed to connect fitness enthusiasts like you with compatible workout buddies in your area.</p>
				<p>Whether you're a seasoned gym-goer looking for a new training companion or someone just starting
					their fitness journey, Friends in Fitness has got you covered. Our user-friendly platform makes it
					easy to browse through profiles of like-minded individuals who share your fitness goals, interests,
					and availability.</p>
			</div>
		</div>
	</div>
</div>